<h2 mat-dialog-title>Desinscripción Confirmación</h2>
<mat-dialog-content>
  ¿Seguro que desea
  <span *ngIf="entityName === 'desinscribirse'">
    desinscribirse
    <span *ngIf="item.course">
      del curso {{ item.course.name}}
    </span>
  </span>
  <span *ngIf="entityName !== 'desinscribir'">
    desinscribir a
    <span *ngIf="item.student">
        {{ item.student | fullname }}
    </span>
  </span>
  ?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close (click)="confirmUnregistration()" cdkFocusInitial>Desiscribir</button>
</mat-dialog-actions>

