<div class="login-container">
    <div class="div-login">
        <h1>Iniciar Sesión</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="fields-container">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{ hide ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
            <button
                mat-flat-button
                type="submit"
            >Iniciar Sesión</button>
            <p>Si no tienes una cuenta puedes <a [routerLink]="['/auth/register']">registrarte</a></p>
        </form>
    </div>
</div>
