<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <div class="titledata-data">
        <strong>ID: </strong>
        <p>{{item.id}}</p>
    </div>
    <hr>
    <div>
        <div
            *ngIf="handleStudents(item) && 
            !handleInscription(item) &&
            !handleLessons(item) "
            >
            <div class="titledata-data">
                <strong>Nombre Completo: </strong>
                <p> {{ item | fullname }}</p>
            </div>
            <hr>
            <strong>Cursos: </strong>
                <ul class="cursos-students" *ngIf="!isEmpty">
                    <li *ngFor="let course of subitem">
                        {{course.id}} - {{ course.name }}
                        <button 
                            mat-flat-button
                            mat-dialog-close 
                            (click)="confirmUnregistration(course.id, item.id)"
                            cdkFocusInitial
                        >Desinscribirse</button>
                    </li>
                </ul>
                <p *ngIf="isEmpty">No se encuentra aún inscripto a ningún curso</p>
        </div>
        <div 
            *ngIf="!handleStudents(item) && !handleLessons(item) && !handleInscription(item)"
        >
            <div class="titledata-data">
                <strong>Nombre: </strong>
                <p>{{ item.name }}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Descripción: </strong>
                <p>{{ item.description }}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Duración: </strong>
                <p>{{item.startDate | date: 'dd/MM/yyyy'}} - {{item.endDate | date: 'dd/MM/yyyy'}}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Horario: </strong>
                <p>{{ item.time }}</p>
            </div>
            <hr>
            <strong>Estudiantes: </strong>
                <ul class="cursos-students" *ngIf="!isEmpty">
                    <li *ngFor="let student of subitem">
                        {{student.id}} - {{student.name}} {{student.surname}}
                        <button 
                            mat-flat-button
                            mat-dialog-close 
                            (click)="confirmUnregistration(item.id, student.id)"
                            cdkFocusInitial
                        >Eliminar</button>
                    </li>
                </ul>

                <p *ngIf="isEmpty">No hay estudiantes inscriptos</p>
        </div>
        <div *ngIf="handleInscription(item) && !handleLessons(item)">
            <div class="titledata-data">
                <strong>Id Estudiante: </strong>
                <p *ngIf="subitem.student && item.studentId !== null; else studentDeleted">
                    {{item.studentId}} - {{subitem.student | fullname}}
                </p>
                <ng-template #studentDeleted>
                    Estudiante eliminado
                </ng-template>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Id Curso: </strong>
                <p *ngIf="subitem.course && item.courseId !== null; else courseDeleted">
                    {{item.courseId}} - {{subitem.course.name}}
                </p>
                <ng-template #courseDeleted>
                    Curso eliminado
                </ng-template>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Fecha: </strong>
                <p>{{item.date | date: 'dd/MM/yyyy'}}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Estado: </strong>
                <p>{{item.status ? 'Activo' : 'Cancelado'}}</p>
            </div>
        </div>
        <div *ngIf="handleLessons(item)">
            <div class="titledata-data">
                <strong>Nombre: </strong>
                <p>{{item.name}}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Fecha: </strong>
                <p>{{item.date | date: 'dd/MM/yyyy'}}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Curso: </strong>
                <p>{{item.courseTitle}}</p>
            </div>
            <hr>
            <div class="titledata-data">
                <strong>Estado: </strong>
                <p>{{item.status ? 'Activo' : 'Cancelado'}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>