.example-container {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav {
    width: 200px;
    padding: 1rem;
    background-color: #d1c4e9;
}

.container{
    height: 100%;
}

.titulo-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 0 2rem;
    text-align: left;
}

.titulo-app strong{
    font-size: 30px;
}

.titulo-app h1{
    font-size: 70px;
    margin: 0px;
    color: #7C4DFF;
}

.container-lista{
    margin: 2rem 2rem;
}

.container-alumnos{
    width: 100%;
}