<mat-drawer-container class="container">
    <mat-drawer class="sidenav" #drawer mode="side" opened="false">
      <app-sidenavbar (toggleAlumnos)="toogleAlumnos()"></app-sidenavbar>
    </mat-drawer>
    <mat-drawer-content >
      <app-toolbar [drawer]="drawer"></app-toolbar>
      <div class="container-lista">
        <app-students class="container-alumnos" *ngIf="showAlumnos"></app-students>
      </div>
      <div class="titulo-app" *ngIf="!showAlumnos">
        <strong>Bienvenido a</strong>
        <h1>AdminApp</h1>
        <p>Despliega el menú y navega por nuestras opciones</p>
      </div>
    </mat-drawer-content>
</mat-drawer-container>
  
  