.titulo-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 0 2rem;
    text-align: left;
}

.titulo-app strong{
    font-size: 30px;
}

.titulo-app h1{
    font-size: 70px;
    margin: 0px;
    color: #7C4DFF;
}