<mat-nav-list class="list" role="list">
    <a 
        mat-list-item
        role="listitem"
        routerLink="students"
        routerLinkActive
        #studentsLink="routerLinkActive"
        [activated]="studentsLink.isActive"
    >Alumnos</a>
    <a
        mat-list-item
        role="listitem"
        routerLink="courses"
        routerLinkActive
        #coursesLink="routerLinkActive"
        [activated]="coursesLink.isActive"
    >Cursos</a>
    <a
        mat-list-item
        role="listitem"
        routerLink="lessons"
        routerLinkActive
        #lessonsLink="routerLinkActive"
        [activated]="lessonsLink.isActive"
    >Clases</a>
    <a
        mat-list-item
        role="listitem"
        routerLink="inscriptions"
        routerLinkActive
        #inscriptionsLink="routerLinkActive"
        [activated]="inscriptionsLink.isActive"
    >Inscripciones</a>
    <button routerLink="/auth/login" mat-flat-button>Cerrar Sesión</button>
</mat-nav-list>